![](/img/external_image.png)

# *SuperCircuits* Superconducting Circuit Simulator
#### *[Luka Bostick](https:/ithub.com/LukaBostick)*, *[ Storm McCauley](https://thub.com/Person2)*, *[Nathan Locklear ](https:/g/hub.com/Person3)* (Last updated *11/5/23*)
 
 1. [dcsfq-jtl-sink](/imulation/dcsfq_jtl_sink.md)
        ---
        2. #  [Pending Verification]()
        ![](/img/ex_dcsfq_jtl_sink_figure.png)
        ---
