![](/img/external_image.png)

# *SuperCircuits* Superconducting Circuit Simulator
#### *[Luka Bostick](https://github.com/LukaBostick)*, *[Storm McCauley](https://github.com/StormMcCauley)*, *[Nathan locklear ](https://github.com/Nathanos4)* (Last updated *11/5/23*)
 
 1. [dcsfq-jtl-sink](//Simulation/dcsfq_jtl_sink.md)
        ---
        2. #  [Pending Verification]()
        ![](/img/ex_dcsfq_jtl_sink_figure.png)
        ---
