![](/img/external_image.png)

# *SuperCircuits* Superconducting Circuit Simulator
#### *[Luka Bostick](https:/ithub.com/LukaBostick)*, *[PERSON 2](https://thub.com/Person2)*, *[PERSON 3](https:/g/hub.com/Person3)* (Last updated *11/5/23*)
---
 1. #[Introduction](/OpenCircuits/README.md)
 ---
2. #[Simulation](###Simulation)
  ---
    1. [jtl-basic]
        ## [Verification](/imulation/jtl_basic.md)
        ![1](/img/Screenshot2023-11-05063716.png)
        ---
# [2] Naoki Takeuchi et al 2020 Supercond. Sci. Technol. 33 065002