![](/img/external_image.png)

# *SuperCircuits* Superconducting Circuit Simulator
#### *[Luka Bostick](https://github.com/LukaBostick)*, *[Storm McCauley](https://github.com/StormMcCauley)*, *[Nathan locklear ](https://github.com/Nathanos4)* (Last updated *11/5/23*)


1. [pi-DQFP-inverter-chain](//Simulation/pi_DQFP_inverter_chain)
        ---
     2. # Figure 2. DQFP gates. (a) Inverter. L1 = L2 = 1.48 pH, Lq1 = Lq2 = 3.27 pH, Lin = 0.361 pH, and Lout = 0.806 pH. (b) Buffer, which is an AQFP gate without signal transformers. L1 = L2 = 1.44 pH, Lq = 5.40 pH, Lin = 11.9 pH, and Lout = 2.50 pH. The critical currents of J1 and J2 are 50 μA. J1 and J2 are not damped by resistors [Verification](//Simulation/pi_DQFP_inverter_chain.md)
        ![](/img/pi_DQFP_inverter_chain-fig.jpg)
        ---

        ---
    2. # Figure 3. Transient analysis results for a DQFP inverter chain. (a) Schematic. The inverter chain is powered and clocked by Ix1 and Ix2. (b) Waveforms at 5 GHz. The logic signals are inverted by each DQFP inverter. [Verification](//Simulation/pi_DQFP_inverter_chain.md)
        ![](/img/fig2.jpg)
        ---

        